.Note {
    --note-height: 120px;
    background-color: #44a1ee81;
    color: #f19494;
    height: var(--note-height);
    margin-bottom: 8px;
    max-width: 380px;
    padding: 8px 0 8px 8px;
    position: relative;
}

.Note__delete {
    --note-button-height: 20px;
    background-color: #fffffff1;
    border: 0;
    color: #5e2adaa8;
    float: right;
    font-size: 12px;
    height: var(--note-button-height);
    position: relative;
    top: calc((var(--note-button-height) + 35px) * -1);
    transform-origin: right bottom;
    transform: rotate(-90deg);
    width: calc(var(--note-height));
}

.Note__delete:hover {
    background-color: #0c09bd5b;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: bold;
}

.Note__title {
    font-family: var(--custom-font);
    font-size: 20px;
    margin: 0;
    max-width: 80%;
    min-height: 24px;
}

.Note__title a {
    color: #fffbfb;
    display: block;
    text-decoration: none;
}

.Note__title a:hover {
    color: #FFB72F;
}

.Note__dates {
    bottom: 8px;
    color: #3f3636;
    font-size: 14px;
    position: absolute;
}